.page {

    margin-left: 445px;
}
.interactions {
text-align: center;
}
.table {
margin: 20px 0;
}
.table-header {
display: flex;
line-height: 24px;
font-size: 16px;
padding: 0 10px;
justify-content: space-between;
}
.table-empty {
margin: 200px;
text-align: center;
font-size: 16px;
}
.table-row {
display: flex;
line-height: 24px;
white-space: nowrap;
margin: 10px 0;
padding: 10px;
background: #ffffff;
border: 1px solid #e3e3e3;
}
.table-header > span {
overflow: hidden;
text-overflow: ellipsis;
padding: 0 5px;
}
.table-row > span {
overflow: hidden;
text-overflow: ellipsis;
padding: 0 5px;
}
.button-inline {
border-width: 0;
background: transparent;
color: inherit;
text-align: inherit;
-webkit-font-smoothing: inherit;
padding: 0;
font-size: inherit;
cursor: pointer;
}
.button-active {
border-radius: 0;
border-bottom: 1px solid #38BB6C;
}

.test{
  padding-left: 20px;
}
.container{
  border-style: solid;
      width: 374px;
}

.main-container{ 
 margin-top: 80px;
 margin-left: 430px
}

.search-box{
      margin-left: 200px;
      margin-right: 875px;
}
.search-text{
      margin-left: 37px;
}
.select-box{
      margin-left: 830px;
      margin-top: -31px;
}

.checkbox{
      margin-left: 526px;
      margin-top: -73px;

}
.delete{
      margin-left: 10px;
}

.name{
  padding-left: 20px;
}
.age{
  padding-left: 20px;
}
.zip-code{
  padding-left: 20px;
}
.city{
  padding-left: 20px;
}
.country{
  padding-left: 20px;
}

.heading{
  margin-left: 522px;
    font-size: 33px;
}

.age-text{
  margin-left: 56px;
  margin-top: -22px;
}